@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-light-webfont.woff2') format('woff2'),
       url('../fonts/firasans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular-webfont.woff2') format('woff2'),
       url('../fonts/firasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
       url('../fonts/lato-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/firasans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/firasans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-hair-webfont.woff2') format('woff2'),
       url('../fonts/firasans-hair-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
