.wrapper {
  min-width: 320px;
}

.main-header {
  padding: 60px 0 180px 0;
  background: url(../img/header-bg.jpg) no-repeat center/cover;
}

.main-header__top {
  text-align: center;
}

.logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
  line-height: 80px;
  font: $f-logo;
  text-decoration: none;
  background: $c-black;
  color: $c-white;
}

.menu {
  &__btn {
    position: relative;
    width: 35px;
    height: 45px;
    margin-bottom: 0;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    transition: margin-bottom 1s;
    font: $f-hamburger-menu;
    text-transform: uppercase;
    text-align: center;
  }
  &__btn::before {
    content: '\f0c9';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    font: 1.88rem $fs-awesome;
  }
  &__btn::after {
    content: 'Menu';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s;
  }
  &--active &__btn {
    margin-bottom: 10px;
  }
  &--active &__btn::after {
    bottom: 0;
  }
  &--active &__item {
    margin-bottom: 5px;
  }
  &__list {
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    transition: max-height 2s;
  }
  &--active &__list {
    height: auto;
    max-height: 180px;
  }
  &__item {
    margin-bottom: 0;
    text-align: center;
    transition: margin-bottom 2s;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__link {
    display: inline-block;
    width: 200px;
    padding: 5px 15px;
    color: $c-white;
    text-transform: uppercase;
    text-decoration: none;
    background: $c-black;
    border-radius: 5px;
  }
}

.main-header__title {
  margin: 0 auto 18px;
  width: 90%;
  font: 300 2.5rem $fs-primary;
}

.main-header__description {
  margin: auto;
  width: 90%;
  font: 300 1.5rem $fs-primary;
}

.intro__left {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.intro__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}

.intro__right {
  padding: 20px 5%;
  background: #f3f1ef;
}

.section-header {
  margin: 0 0 22px;
  font: $f-section-header;
  text-transform: uppercase;
  &--intro {
    color: $c-gray;
  }
  &--instagram {
    color: $c-white;
  }
  &--staff {
    margin: 0;
    color: $c-green;
  }
}

.section-para {
  margin: 0;
  font: 300 1.5rem $fs-primary;
  &--intro {
    color: $c-gray;
  }
  &--instagram {
    color: $c-white;
    margin-bottom: 20px;
  }
}

.gallery__item {
  position: relative;
  width: 100%;
  height: 515px;
  overflow: hidden;
}

.gallery__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
}

.instagram__left {
  padding: 20px 5%;
  background: #3f729b;
}

.instagram__link {
  display: inline-block;
  padding: 10px 22px;
  font: $f-btns;
  text-transform: uppercase;
  text-decoration: none;
  color: $c-white;
  letter-spacing: 3px;
  border: 1px solid $c-gray;
  box-shadow: 0 0 0 2px $c-white;
  border-radius: 30px;
}

.instagram__photo-wrap {
  position: relative;
  width: 100%;
  height: 510px;
  overflow: hidden;
}

.instagram__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.staff {
  background: #212227;
  padding: 30px 5%;
}

.staff__caption {
  font: 300 1rem $fs-primary;
  text-transform: uppercase;
  color: $c-green;
  margin-bottom: 30px;
}

.staff__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
  color: $c-white;
}

.staff__link {
  padding: 10px 20px;
  border: 2px solid $c-green;
  border-radius: 30px;
  font: bold 1.12rem $fs-primary;
  color: $c-green;
  text-transform: uppercase;
  text-decoration: none;
}
